on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: Build with esp-idf for target esp32
      uses: espressif/esp-idf-ci-action@v1.1.0
      with:
        esp_idf_version: v5.3
        target: esp32
        path: 'esp32_serial_ble_bridge/'
